:root{
    overflow: hidden;
    background-color: lightblue;
    display: flex;
    justify-content: center;
}

.sun{
    background-color: yellow;
    border-radius: 50%;
    height: 100vh;
    aspect-ratio: 1/1;
    animation: 4s linear 0s infinite alternate animate_Sun;
}

@keyframes animate_Sun {
    from{
        transform: translateY(110vh);
        background-color: rgb(225, 45, 45);
        filter: brightness(75%);
    }
    to{
        transform: translate(0);
        background-color: orange;
        
    }
}